@use 'fonts';

$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #ffffff;
$body-text-color: #ffffff;
$heading-font-family: 'robotoregular', helvetica, arial;
$body-font-family: 'segoeui',arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;

